// ****************************************************************
// _Responsive embed
// ****************************************************************

.embed__responsive {
  margin: ($base_font_size * 2) 0 0;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  embed,
  object,
  iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
}