// ****************************************************************
// _Footers
// ****************************************************************


/**
 * Core
 */
.footer {
  padding: $base_font_size 1rem;
  background-color: $footer_background_color;
}


/**
 * Utils
 */
.footer__logo {
  text-align: center;
  img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
}

.footer__section__title {
  font-size: 1.3rem;
  font-weight: $bold;
  color: $footer_color;
}

.footer__section__item,
.footer__section__item a,
.footer__nav__item,
.footer__nav__item a {
  color: $footer_item_color;
}

.footer__nav__item {
  font-size: 80%;
}

.footer__legals p,
.footer__legals a {
  font-size: 80%;
  text-align: center;
  color: $footer_color;
}

.footer__nav {
  text-align: center;
  @extend .clearfix;
}

.footer__nav__left {
  float: left;
}

.footer__nav__center {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.footer__nav__right {
  float: right;
}

