// ****************************************************************
// _HeadersStyles
// ****************************************************************

/**
 * Core styling
 */
.header {
  @extend .clearfix;
  display: block;
  background-color: $header_background_color;
  padding: 0 $base_font_size;

  a {
    display: block;
    padding: $base_font_size 1rem;
    font-family: $header_font_family;
  }

  @if $header_uppercase {
      text-transform: uppercase;
  }


  @if $header_box_shadow {
    box-shadow : $header_box_shadow;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .is-active {
    background-color: $main_color;
    a {
        color: $white;
    }
  }

}


/**
 * Positionning : Use these class to position your inner nav element
 */
.nav__left {
    float: left;
    width: auto;
}

.nav__right {
    float: right;
    width: auto;
}

.nav__center {
    display: block;
    text-align: center;
}


/**
 * Nav logo styles
 */
.nav__logo {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    img, svg {
        display: block;
    }
}