// ****************************************************************
// _MediaObject
// ****************************************************************

/**
 *
 * The mightly media object.
 * Check : http://barbo.sa.com/1bsh8/5eLjKghJ
 */
.media {
    display:block;
    @extend .clearfix;
    margin: 0 0 $base_font_size;
}

.media__img{
    float:left;
    margin-right:$base_font_size;
}

.media__img--inverse {
    float:right;
    margin-left:$base_font_size;
}

.media__img img,
.media__img--inverse img {
    display:block;
}

.media__content {
    overflow:hidden;
}

.media__content,
.media__content > :last-child{
    margin-bottom:0;
}

.media__content > p {
    margin-top: 0;
}