// ****************************************************************
// _Pagination
// ****************************************************************
.pagination{
    letter-spacing:-0.31em;
    word-spacing:-0.43em;
    list-style:none;
    margin-left:0;
    @extend .clearfix;

    // Use this to position your pagination
    &.pagination__left {
        text-align:left;
    }
    &.pagination__center {
        text-align:center;
    }
    &.pagination__right {
        text-align:right;
    }

}

.pagination > li{
    padding:$base_font_size / 2;
    letter-spacing:normal;
    word-spacing:normal;
    display:inline-block;
   *display:inline;
    zoom:1;
}


.pagination > li > a{
    padding:$base_font_size / 2;
    margin:-$base_font_size / 2;
}

.pagination__first a:before{
    content:"\00AB" "\00A0";
}

.pagination__last a:after{
    content:"\00A0" "\00BB";
}