// ****************************************************************
// _Alightment : Center text within a div
// ****************************************************************

.alightment-container {
    display: table;
}

.alightment-content {
    display: table-cell;
}

.alightment-content-top {
    @extend .alightment-content;
    vertical-align: top;
}

.alightment-content-middle {
    @extend .alightment-content;
    vertical-align: middle;
}

.alightment-content-bottom {
    @extend .alightment-content;
    vertical-align: bottom;
}

// ****************************************************************
// _row-box : Stacked divs without margin/padding
// ****************************************************************

.row-box {
    @extend .row;

    [class*="box-item"] {
        display: block;
        float: left;
        padding: 1rem;
    }
}

.box-item-50 {
    width: 100%;
    @media (min-width : $tablet) {
        width : 50%;
    }
}
.box-item-33 {
    width: 100%;
    @media (min-width : $tablet) {
        width : 33.33333333%;
    }
}
.box-item-25 {
    width: 100%;
    @media (min-width : $tablet) {
        width : 25%;
    }
}
.box-item-20 {
    width: 100%;
    @media (min-width : $tablet) {
        width : 20%;
    }
}


// ****************************************************************
// _split : Split a title and it's content on each side of the container
// ****************************************************************


/**
 * Split for definition lists
 */
.split {
    text-align:right;
    list-style:none;
    margin-left:0;
}

.split-title{
    text-align:left;
    float:left;
    clear:left;
}




/**
 *  Split for any div
 */
.split-container {
    @extend .clearfix;
    text-align: right;
}

.split-right {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.split-left {
    text-align:left;
    float:left;
    clear:left;
}




// ****************************************************************
// _Inline Group : Set elements to be inline
// ****************************************************************

.inline-container {
    display: inline-block;
}

.inline-container,
.inline-container--top,
.inline-container--bottom {
    display: inline-block;
    vertical-align: middle;
    margin-left: $base_font_size;
}

.inline-container--top {
    vertical-align: top;
}

.inline-container--bottom {
    vertical-align: bottom;
}