// ****************************************************************
// _Alightment : Center text within a div
// ****************************************************************

.alightment__container {
    display: table;
}

.alightment__content {
    display: table-cell;
}

.alightment__content-top {
    @extend .alightment__content;
    vertical-align: top;
}

.alightment__content-middle {
    @extend .alightment__content;
    vertical-align: middle;
}

.alightment__content-bottom {
    @extend .alightment__content;
    vertical-align: bottom;
}

// ****************************************************************
// _row__box : Stacked divs without margin/padding
// ****************************************************************

.row__box {
    @extend .row;

    [class*="box-item"] {
        display: block;
        float: left;
        padding: 1rem;
    }
}

.box__item-50 {
    width: 100%;
    @media (min-width : $tablet) {
        width : 50%;
    }
}
.box__item-33 {
    width: 100%;
    @media (min-width : $tablet) {
        width : 33.33333333%;
    }
}
.box__item-25 {
    width: 100%;
    @media (min-width : $tablet) {
        width : 25%;
    }
}
.box__item-20 {
    width: 100%;
    @media (min-width : $tablet) {
        width : 20%;
    }
}


// ****************************************************************
// _split : Split a title and it's content on each side of the container
// ****************************************************************


/**
 * Split for definition lists
 */
.split {
    text-align:right;
    list-style:none;
    margin-left:0;
}

.split__title{
    text-align:left;
    float:left;
    clear:left;
}




/**
 *  Split for any div
 */
.split__container {
    @extend .clearfix;
    text-align: right;
}

.split__right {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.split__left {
    text-align:left;
    float:left;
    clear:left;
}




// ****************************************************************
// _Inline Group : Set elements to be inline
// ****************************************************************

.inline__container {
    display: inline-block;
}

.inline__item,
.inline__item--top,
.inline__item--bottom {
    display: inline-block;
    vertical-align: middle;
    margin-left: $base_font_size;
}

.inline__item--top {
    vertical-align: top;
}

.inline__item--bottom {
    vertical-align: bottom;
}