### Filetype & folder ###
#########################

# (Put any of your projects files, as .PSD, .AI, anything else, in the sources directory :)
sources/*

dist/*
build/*
*.unprefixed.css
*.log
*.map
bower_components/
node_modules/
.sass-cache

### SublimeText ###
###################

*.sublime-workspace
# *.sublime-project

### OSX ###
###########

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
###############
# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# MountCSS, currently in development
index.html
style.css