// ****************************************************************
// _BaseColors
// ****************************************************************

$turquoise        : #1abc9c;
$turquoiseDarker  : #16a085;

$green            : #2ecc71;
$greenDarker      : #27ae60;

$blue             : #3498db;
$blueDarker       : #2980b9;

$purple           : #9b59b6;
$purpleDarker     : #8e44ad;

$deepBlue         : #34495e;
$deepBlueDarker   : #2c3e50;

$yellow           : #f1c40f;
$orange           : #f39c12;

$deepOrange       : #e67e22;
$deepOrangeDarker : #d35400;

$red              : #e74c3c;
$redDarker        : #c0392b;

$gray             : #bdc3c7;
$grayLight        : #ecf0f1;
$grayDark         : #696969;

$deepGray         : #95a5a6;
$deepGrayDarker   : #7f8c8d;

$black            : #000000;
$white            : #ffffff;
