
  // ****************************************************************
// _variables
// ****************************************************************

// Colors
$mainColor           : $deepGray;
$baseBackgroundColor : white;

$headerFontColor     : darken($mainColor, 30);
$baseFontColor       : $black;

$baseLinkColor       : $mainColor;
$hoverLinkColor      : darken($mainColor, 20);

$success : $green;
$warning : $orange;
$error : $red;
$info: $blue;

// Typography
$sans-serif          : $helvetica;
$serif               : $sans-serif;
$yourWebFontName     : "FontName"; // Provide your custom font here


$headerFontFamily : $sans-serif;
$baseFontFamily : $serif;

// Sizes
$baseFontSize        : 1rem;
$baseLineHeight      : 1.6;

//Types weight
$light               : 300;
$regular             : 400;
$medium              : 500;
$semibold            : 600;
$bold                : 700;
$ultrabold           : 900;

// zi-etc            : 400;
$zi-master           : 9999;
$zi-1                : 300;
$zi-2                : 200;
$zi-3                : 100;
$zi-4                : -1;

// Media queries
$mobile         : 414px;
$tablet         : 769px;
$desktop        : 961px;
$desktop-large  : 1200px;
$desktop-xlarge : 1800px;

// Misc
$baseBorderRadius : 3px;
$baseBorderColor : $deepGray;

// Buttons
$baseBtnColor : $white ;
$baseBtnBackgroundColor : $mainColor;


$baseBtnHoverColor : $white;
$baseBtnHoverBackgroundColor : darken($baseBtnBackgroundColor, 10);

$buttonUppercase : true;

// hero
$heroPadding : 3rem 1rem;
$heroHeight : false; // set an integer to give a fixed height to your hero (ex.: $heroHeight : 40vh; )
$overlayColor : $black;

// forms
$fieldsetBackgroundColor : $baseBackgroundColor;
$inputBorderColor : $baseBorderColor;
$inputBackgroundColor : $white;
$form-box-shadow : 0;
$form-box-shadow-focus : inset 0 1px 1px $grayDark;

// Paths
$fontPath : "../fonts/";
$imgPath : "../img/";
$svgPath : "../svg/";
