// ****************************************************************
// _variables
// ****************************************************************




/* _Colors
---------------------------------- */
$mainColor           : $green;
$baseBackgroundColor : $white;

$headerFontColor     : $black-faded;
$baseFontColor       : $grayDarker;

$baseLinkColor       : $mainColor;
$hoverLinkColor      : darken($mainColor, 20);

$success             : $green;
$warning             : $orange;
$error               : $red;
$info                : $blue;





/* _Typography
---------------------------------- */
//Types weight
$light            : 300;
$regular          : 400;
$medium           : 500;
$semibold         : 600;
$bold             : 700;
$ultrabold        : 900;


$yourWebFontName  : "FontName"; // Provide your custom font here

$sans-serif       : $helvetica;
$serif            : $sans-serif;
$monospace        : $consolas;

$headerFontFamily : $sans-serif;
$baseFontFamily   : $serif;
$baseFontWeight   : $regular;

// Sizes
$baseFontSize     : .875rem;
$baseLineHeight   : 1.6;






// Layout
$baseBorderRadius : 3px; // Set to "false" to cancel any radius on your project
$baseBorderColor : $deepGray;




/* _Header
---------------------------------- */
$headerBackgroundColor : $white;
$headerBoxShadow : 0 8px 6px -6px transparentize($black, .6);
$headerUppercase : false;




/* _Footer
---------------------------------- */
$footerBackgroundColor : $black;
$footerColor : $white;
$footerItemColor : $gray;




/* _Forms
---------------------------------- */
$fieldsetBackgroundColor : $baseBackgroundColor;
$inputBorderColor : $baseBorderColor;
$inputBackgroundColor : $white;
$form-box-shadow : 0;
$form-box-shadow-focus : 0;





/* _Buttons
---------------------------------- */
$baseBtnColor : $white ;
$baseBtnBackgroundColor : $mainColor;

$baseBtnHoverColor : $white;
$baseBtnHoverBackgroundColor : darken($baseBtnBackgroundColor, 10);

$buttonUppercase : true;





/* _MediaQueries
---------------------------------- */
$mobile         : 414px;
$tablet         : 769px;
$desktop        : 961px;
$desktop-large  : 1200px;
$desktop-xlarge : 1800px;





/* _Paths
---------------------------------- */
$fontPath : "../fonts/";
$imgPath : "../img/";
$svgPath : "../svg/";





/* _Layout and sizes
---------------------------------- */
// Z-indexes
$zi-master           : 9999;
$zi-1                : 300;
$zi-2                : 200;
$zi-3                : 100;
$zi-4                : -1;





/* _Hero
---------------------------------- */
$heroPadding : 3rem 1rem;
$heroHeight : false; // set an integer to give a fixed height to your hero (ex.: $heroHeight : 40vh; )
$overlayColor : $black;





