// ****************************************************************
// _variables
// ****************************************************************




/* _Colors
---------------------------------- */
$main_color            : $green;
$base_background_color : $white;

$header_font_color     : $black_faded;
$base_font_color       : $gray_darker;

$base_link_color       : $main_color;
$hover_link_color      : darken($main_color, 20);

$success               : $green;
$warning               : $orange;
$error                 : $red;
$info                  : $blue;





/* _Typography
---------------------------------- */
//Types weight
$light              : 300;
$regular            : 400;
$medium             : 500;
$semibold           : 600;
$bold               : 700;
$ultrabold          : 900;


$your_web_font_name : "font_name"; // Provide your custom font here

$sans_serif         : $helvetica;
$serif              : $sans_serif;
$monospace          : $consolas;

$header_font_family : $sans_serif;
$base_font_family   : $serif;
$base_font_weight   : $regular;

// Sizes
$base_font_size     : .875rem;
$base_line_height   : 1.6;

// Layout
$base_border_radius : 3px; // Set to "false" to cancel any radius on your project
$base_border_color  : $deep_gray;




/* _Header
---------------------------------- */
$header_background_color : $white;
$header_box_shadow       : 0 8px 6px -6px transparentize($black, .6);
$header_uppercase        : false;




/* _Footer
---------------------------------- */
$footer_background_color : $black;
$footer_color            : $white;
$footer_item_color       : $gray;




/* _Forms
---------------------------------- */
$fieldset_background_color : $base_background_color;
$input_border_color        : $base_border_color;
$input_background_color    : $white;
$form_box_shadow           : 0;
$form_box_shadow-focus     : 0;





/* _Buttons
---------------------------------- */
$base_btn_color                  : $white ;
$base_btn_background_color       : $main_color;

$base_btn_hover_color            : $white;
$base_btn_hover_background_color : darken($base_btn_background_color, 10);

$button_uppercase                : true;





/* _MediaQueries
---------------------------------- */
$mobile         : 414px;
$tablet         : 769px;
$desktop        : 961px;
$desktop_large  : 1200px;
$desktop_xlarge : 1800px;





/* _Paths
---------------------------------- */
$font_path : "../fonts";
$img_path  : "../img";
$svg_path  : "../svg";





/* _Layout and sizes
---------------------------------- */
// Z-indexes
$zi_master : 9999;
$zi_5      : 500;
$zi_4      : 400;
$zi_1      : 300;
$zi_2      : 200;
$zi_3      : 100;
$zi_0      : -1;





/* _Hero
---------------------------------- */
$hero_padding  : 3rem 1rem;
$hero_height   : false; // set an integer to give a fixed height to your hero (ex. : $hero_height : 40vh; )
$overlay_color : $black;





