// ****************************************************************
// _Breadcrumbs
// ****************************************************************

.breadcrumb {
    @extend .list-inline;

    li {
        padding: 0;
    }

    li:before {
        content: "\00BB" "\00A0";
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin: 0 ($base_font_size / 2);
        vertical-align: middle;
    }

    li:first-child:before {
        content: none;
    }

    li.is-active {
        color: $green;
        font-weight: $bold;
        &:before {
            color: $main_color;
        }
    }
}