// ****************************************************************
// _data
// ****************************************************************

.data {

}

.data__row {
    @extend .clearfix;
    text-align: right;
    position: relative;
    margin: 20px auto;
}

.data__row__group {
    .data__row {
        margin: 0;
    }
}

.data__title {
    text-align:left;
    float:left;
    clear:left;
    p {
        margin-bottom: 0;
    }
}

.data__content {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


.data__remove {
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateY(-50%);
    padding: 0;
    margin: 10px 2px;
}
// ------- End of data -------- \