// ****************************************************************
// _mediaobject
// ****************************************************************

// LAYOUT
//---------------------------------- //

// https://getbootstrap.com/docs/3.3/components/#media

.media {
  margin-top: $y_spacing;
  &:first-child {
    margin-top: 0;
  }
}

.media,
.media__body {
  zoom: 1;
  overflow: hidden;
}

.media__body {
  width: 10000px;
}

.media__object {
  display: block;
}

img.media__object {
    max-width: unset;
}

.media__object.img__thumbnail {
  max-width: none;
}

.media__right {
  padding-left: $x_spacing;
}

.media__left {
  padding-right: $x_spacing;
}

.media__left,
.media__right,
.media__body {
  display: table-cell;
  vertical-align: top;
}

.media__md {
    .media__left,
    .media__right,
    .media__body {
        display: block;
        @media (min-width : $tablet ) {
            display: table-cell;
            vertical-align: top;
        }
    }
    .media__body {
        width: auto;
    }
}

.media__middle {
  vertical-align: middle;
}

.media__bottom {
  vertical-align: bottom;
}

.media__heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media__list {
  padding-left: 0;
  list-style: none;
}


// ------- End of mediaobject -------- \
