// ****************************************************************
// _MediaObject
// ****************************************************************

/**
 *
 * The mightly media object.
 * Check : http://barbo.sa.com/1bsh8/5eLjKghJ
 */
.media {
    display:block;
    @extend .clearfix;
    margin: 0 0 $baseFontSize;
}

.media-img{
    float:left;
    margin-right:$baseFontSize;
}

.media-img-inverse {
    float:right;
    margin-left:$baseFontSize;
}

.media-img img,
.media-img-inverse img {
    display:block;
}

.media-content {
    overflow:hidden;
}

.media-content,
.media-content > :last-child{
    margin-bottom:0;
}

.media-content > p {
    margin-top: 0;
}