// ****************************************************************
// _alightment : Center text within a div
// ****************************************************************

.alightment-container {
    display: table;
}

.alightment-content {
    display: table-cell;
}

.alightment-content-top {
    @extend .alightment-content;
    vertical-align: top;
}

.alightment-content-middle {
    @extend .alightment-content;
    vertical-align: middle;
}

.alightment-content-bottom {
    @extend .alightment-content;
    vertical-align: bottom;
}

// ****************************************************************
// _row-box : Stacked divs without margin/padding
// ****************************************************************

.row-box {
    @extend .row;

    [class*="box-item"] {
        display: block;
        float: left;
        padding: 1rem;
    }
}

.box-item-50 { width : 50% }
.box-item-33 { width : 33.33333333% }
.box-item-25 { width : 25% }
.box-item-20 { width : 20% }
