.mobile_only {
    @media (min-width : $desktop ) {
        display: none !important;
    }
}

.desktop_only {
    display: none;
    @media (min-width : $desktop ) {
        display: block !important;
    }
}

// Hidden but readable
.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
