// ****************************************************************
// _section
// ****************************************************************

// LAYOUT
//---------------------------------- //

$section_padding: 6rem 0;
$section_content_margin: 6rem 0;
$section_footer_margin: 3rem 0;

.section {
    display: block;
    width: 100%;
    padding: $section_padding;
    background-color: $primary;
}

.section__header {
    text-align: center;
}

.section__content {
    display: block;
    margin: $section_content_margin 0;
}

.section__footer {
    display: block;
    margin: $section_footer_margin 0;
}

.section__image {
    margin: 3rem 0;
    @media (min-width : $desktop ) {
        margin: 0;
    }
}

// THEME
//---------------------------------- //

@each $theme, $color in $themes {
    .section__#{$theme} {
        background-color: $color;
        // color: $base_background_color;
    }
}
