// ****************************************************************
// _Forms
// ****************************************************************


/**
 * Core
 */
fieldset {
  background-color: $fieldsetBackgroundColor;
  border: 1px solid $baseBorderColor;
  margin: 0 0 ($baseFontSize / 2);
  padding: $baseLineHeight;
  @if $baseBorderRadius {
    border-radius: $baseBorderRadius;
  }
}

legend {
  text-transform: uppercase;
  padding: 0 ($baseFontSize / 2);
}

input,
label,
select {
  display: block;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
}

label {
  font-weight: $bold;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
select[multiple=multiple],
textarea {
  background-color: $baseBackgroundColor;
  border: 1px solid $baseBorderColor;
  transition: border .4 ease;
  @if $baseBorderRadius {
    border-radius: $baseBorderRadius;
  }
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  padding: $baseFontSize / 2 ;
  transition: border .4s ease;
  width: 100%;

  &:hover {
    border-color: darken($deepGray, 10);
  }

  &:focus {
    border-color: darken($baseBorderColor, 10);
    border-left: ($baseFontSize / 3) solid $mainColor;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance : none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: ($baseLineHeight / 2) / 2;
}

input[type="file"] {
  padding-bottom: ($baseLineHeight / 2);
  width: 100%;
}

select {
  margin-bottom: $baseLineHeight;
  max-width: 100%;
  width: auto;
}


/**
 * Input States
 */
.input-error {
  border: 1px solid $error !important;
  margin-bottom: .3rem;
}

.input-success {
  border: 1px solid $success !important;
  margin-bottom: .3rem;
}

.input-message-error {
  color: $error;
  font-size: 75%;
}
.input-message-success {
  color: $success;
  font-size: 75%;
}



/**
 * Sticked input/button
 */
.sticked-form {
    margin: 0 auto;
    width: 100%;
    @media (min-width : $tablet) {
      width: 60%;
      min-width: 430px;
    }
    input {
        font: $light 1rem $headerFontColor;

        @media (min-width : $desktop) {
          float: left;
        }
        width: auto;
        height: 2.5rem;
        line-height: 2.5rem;
        margin: 0;
        padding: 0 1rem;
    }
    input[type=email] {
      @if $baseBorderRadius {
        border-radius: $baseBorderRadius $baseBorderRadius 0 0;
      }
      // padding: 0 .5em;
      width: 100%;
      @media (min-width : $desktop) {
          width: 70%;
          @if $baseBorderRadius {
            border-radius: $baseBorderRadius 0 0 $baseBorderRadius;
          }
      }

        transition: background .2s;
        &:focus {
            outline: 0;
        }
    }
    input[type=submit] {
      border-radius: $baseBorderRadius;
      width: 100%;
      @if $baseBorderRadius {
        border-radius: 0 0 $baseBorderRadius $baseBorderRadius;
      }
      @media (min-width : $desktop) {
          width: 30%;
          border-radius: 0 $baseBorderRadius $baseBorderRadius 0;
      }
        // padding: 0 .5em;
        font-weight: $bold;
        color: $white;
        border: 0;
        outline: 0;
        margin-top: 0;
        &:hover {
            background: lighten($mainColor,5%);
        }
        &:active {
            outline: 0;
            background: darken($mainColor,5%);
        }
    }
}



/**
 * Reset input buttons styles
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  appearence: none;
  -webkit-font-smoothing: antialiased;
  background-color: $baseBtnBackgroundColor;
  border-radius: $baseBorderRadius;
  border: none;
  color: $baseBtnColor;
  cursor: pointer;
  display: inline-block;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  font-weight: $bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all .3s ease;
  margin-top: 1rem;

  &:hover,
  &:focus {
    background-color: $baseBtnHoverBackgroundColor;
    color: $baseBtnHoverColor;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}