// ****************************************************************
// _GridLayout
// ****************************************************************


.container {
    @extend .clearfix;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;

    @media (min-width : $desktop) {
        max-width: 960px;
    }
    @media (min-width : $desktop_large) {
        max-width: 1420px;
    }
    @media (min-width : $desktop_xlarge) {
        max-width: 1600px;
    }
}

.row {
    @extend .clearfix;
    display: block;
}

.row [class*="col__"] {
    min-height: 1px;
    @media (min-width : $desktop) {
        float: left;
        margin-left:1%;
    }
}

.row [class*="col__"]:first-child {
    margin-left:0;
}


/**
 * Grid Classes
 */
.col__1 {
    width: 100%;
    @media (min-width : $desktop) {
        width:7.41666666667%;
    }
}
.col__2 {
    width: 100%;
    @media (min-width : $desktop) {
        width:15.8333333333%;
    }
}
.col__3 {
    width: 100%;
    @media (min-width : $desktop) {
        width:24.25%;
    }
}
.col__4 {
    width: 100%;
    @media (min-width : $desktop) {
        width:32.6666666667%;
    }
}
.col__5 {
    width: 100%;
    @media (min-width : $desktop) {
        width:41.0833333333%;
    }
}
.col__6 {
    width: 100%;
    @media (min-width : $desktop) {
        width:49.5%;
    }
}
.col__7 {
    width: 100%;
    @media (min-width : $desktop) {
        width:57.9166666667%;
    }
}
.col__8 {
    width: 100%;
    @media (min-width : $desktop) {
        width:66.3333333333%;
    }
}
.col__9 {
    width: 100%;
    @media (min-width : $desktop) {
        width:74.75%;
    }
}
.col__10 {
    width: 100%;
    @media (min-width : $desktop) {
        width:83.1666666667%;
    }
}
.col__11 {
    width: 100%;
    @media (min-width : $desktop) {
        width:91.5833333333%;
    }
}
.col__12 {
    width: 100%;
    margin-left:0;
}