// ****************************************************************
// _GridLayout
// ****************************************************************

@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: $grid_gutter;
  padding-left: $grid_gutter;
}

.container::after {
  display: block;
  content: "";
  clear: both;
}

@media (min-width: $mobile) {
  .container {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
  }
}

@media (min-width: $tablet) {
  .container {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
  }

}

@media (min-width: $desktop) {
  .container {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
  }
}

@media (min-width: $desktop_xl) {
  .container {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
  }
}

@media (min-width: $mobile) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: $tablet) {
  .container {
    width: 720px;
    max-width: 100%;
  }

  .container_s {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
    max-width: $container_s_size;
  }

  .container_xs {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
    max-width: $container_xs_size;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 960px;
    max-width: 100%;
  }

  .container_s {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
    max-width: $container_s_size;
  }

  .container_xs {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
    max-width: $container_xs_size;
  }
}

@media (min-width: $desktop_xl) {
  .container {
    width: 1140px;
    max-width: 100%;
  }

  .container_s {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
    max-width: $container_s_size;
  }

  .container_xs {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
    max-width: $container_xs_size;
  }
}

.row {
  margin-right: -$grid_gutter;
  margin-left: -$grid_gutter;
}

.row::after {
  display: block;
  content: "";
  clear: both;
}

@media (min-width: $mobile) {
  .row {
    margin-right: -$grid_gutter;
    margin-left: -$grid_gutter;
  }
}

@media (min-width: $tablet) {
  .row {
    margin-right: -$grid_gutter;
    margin-left: -$grid_gutter;
  }
}

@media (min-width: $desktop) {
  .row {
    margin-right: -$grid_gutter;
    margin-left: -$grid_gutter;
  }
}

@media (min-width: $desktop_xl) {
  .row {
    margin-right: -$grid_gutter;
    margin-left: -$grid_gutter;
  }
}

.no_gutters {
  margin-right: 0;
  margin-left: 0;
}

.no_gutters > .col,
.no_gutters > [class*="col_"] {
  padding-right: 0;
  padding-left: 0;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_xl_1, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_10, .col_xl_11, .col_xl_12 {
  position: relative;
  min-height: 1px;
  padding-right: $grid_gutter;
  padding-left: $grid_gutter;
}

@media (min-width: $mobile) {
  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_xl_1, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_10, .col_xl_11, .col_xl_12 {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
  }
}

@media (min-width: $tablet) {
  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_xl_1, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_10, .col_xl_11, .col_xl_12 {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
  }
}

@media (min-width: $desktop) {
  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_xl_1, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_10, .col_xl_11, .col_xl_12 {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
  }
}

@media (min-width: $desktop_xl) {
  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_xl_1, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_10, .col_xl_11, .col_xl_12 {
    padding-right: $grid_gutter;
    padding-left: $grid_gutter;
  }
}

.col_1 {
  float: left;
  width: 8.333333%;
}

.col_2 {
  float: left;
  width: 16.666667%;
}

.col_3 {
  float: left;
  width: 25%;
}

.col_4 {
  float: left;
  width: 33.333333%;
}

.col_5 {
  float: left;
  width: 41.666667%;
}

.col_6 {
  float: left;
  width: 50%;
}

.col_7 {
  float: left;
  width: 58.333333%;
}

.col_8 {
  float: left;
  width: 66.666667%;
}

.col_9 {
  float: left;
  width: 75%;
}

.col_10 {
  float: left;
  width: 83.333333%;
}

.col_11 {
  float: left;
  width: 91.666667%;
}

.col_12 {
  float: left;
  width: 100%;
}

.pull_0 {
  right: auto;
}

.pull_1 {
  right: 8.333333%;
}

.pull_2 {
  right: 16.666667%;
}

.pull_3 {
  right: 25%;
}

.pull_4 {
  right: 33.333333%;
}

.pull_5 {
  right: 41.666667%;
}

.pull_6 {
  right: 50%;
}

.pull_7 {
  right: 58.333333%;
}

.pull_8 {
  right: 66.666667%;
}

.pull_9 {
  right: 75%;
}

.pull_10 {
  right: 83.333333%;
}

.pull_11 {
  right: 91.666667%;
}

.pull_12 {
  right: 100%;
}

.push_0 {
  left: auto;
}

.push_1 {
  left: 8.333333%;
}

.push_2 {
  left: 16.666667%;
}

.push_3 {
  left: 25%;
}

.push_4 {
  left: 33.333333%;
}

.push_5 {
  left: 41.666667%;
}

.push_6 {
  left: 50%;
}

.push_7 {
  left: 58.333333%;
}

.push_8 {
  left: 66.666667%;
}

.push_9 {
  left: 75%;
}

.push_10 {
  left: 83.333333%;
}

.push_11 {
  left: 91.666667%;
}

.push_12 {
  left: 100%;
}

.offset_1 {
  margin-left: 8.333333%;
}

.offset_2 {
  margin-left: 16.666667%;
}

.offset_3 {
  margin-left: 25%;
}

.offset_4 {
  margin-left: 33.333333%;
}

.offset_5 {
  margin-left: 41.666667%;
}

.offset_6 {
  margin-left: 50%;
}

.offset_7 {
  margin-left: 58.333333%;
}

.offset_8 {
  margin-left: 66.666667%;
}

.offset_9 {
  margin-left: 75%;
}

.offset_10 {
  margin-left: 83.333333%;
}

.offset_11 {
  margin-left: 91.666667%;
}

@media (min-width: $mobile) {
  .col_sm_1 {
    float: left;
    width: 8.333333%;
  }
  .col_sm_2 {
    float: left;
    width: 16.666667%;
  }
  .col_sm_3 {
    float: left;
    width: 25%;
  }
  .col_sm_4 {
    float: left;
    width: 33.333333%;
  }
  .col_sm_5 {
    float: left;
    width: 41.666667%;
  }
  .col_sm_6 {
    float: left;
    width: 50%;
  }
  .col_sm_7 {
    float: left;
    width: 58.333333%;
  }
  .col_sm_8 {
    float: left;
    width: 66.666667%;
  }
  .col_sm_9 {
    float: left;
    width: 75%;
  }
  .col_sm_10 {
    float: left;
    width: 83.333333%;
  }
  .col_sm_11 {
    float: left;
    width: 91.666667%;
  }
  .col_sm_12 {
    float: left;
    width: 100%;
  }
  .pull_sm-0 {
    right: auto;
  }
  .pull_sm-1 {
    right: 8.333333%;
  }
  .pull_sm-2 {
    right: 16.666667%;
  }
  .pull_sm-3 {
    right: 25%;
  }
  .pull_sm-4 {
    right: 33.333333%;
  }
  .pull_sm-5 {
    right: 41.666667%;
  }
  .pull_sm-6 {
    right: 50%;
  }
  .pull_sm-7 {
    right: 58.333333%;
  }
  .pull_sm-8 {
    right: 66.666667%;
  }
  .pull_sm-9 {
    right: 75%;
  }
  .pull_sm-10 {
    right: 83.333333%;
  }
  .pull_sm-11 {
    right: 91.666667%;
  }
  .pull_sm-12 {
    right: 100%;
  }
  .push_sm_0 {
    left: auto;
  }
  .push_sm_1 {
    left: 8.333333%;
  }
  .push_sm_2 {
    left: 16.666667%;
  }
  .push_sm_3 {
    left: 25%;
  }
  .push_sm_4 {
    left: 33.333333%;
  }
  .push_sm_5 {
    left: 41.666667%;
  }
  .push_sm_6 {
    left: 50%;
  }
  .push_sm_7 {
    left: 58.333333%;
  }
  .push_sm_8 {
    left: 66.666667%;
  }
  .push_sm_9 {
    left: 75%;
  }
  .push_sm_10 {
    left: 83.333333%;
  }
  .push_sm_11 {
    left: 91.666667%;
  }
  .push_sm_12 {
    left: 100%;
  }
  .offset_sm_0 {
    margin-left: 0%;
  }
  .offset_sm_1 {
    margin-left: 8.333333%;
  }
  .offset_sm_2 {
    margin-left: 16.666667%;
  }
  .offset_sm_3 {
    margin-left: 25%;
  }
  .offset_sm_4 {
    margin-left: 33.333333%;
  }
  .offset_sm_5 {
    margin-left: 41.666667%;
  }
  .offset_sm_6 {
    margin-left: 50%;
  }
  .offset_sm_7 {
    margin-left: 58.333333%;
  }
  .offset_sm_8 {
    margin-left: 66.666667%;
  }
  .offset_sm_9 {
    margin-left: 75%;
  }
  .offset_sm_10 {
    margin-left: 83.333333%;
  }
  .offset_sm_11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: $tablet) {
  .col_md_1 {
    float: left;
    width: 8.333333%;
  }
  .col_md_2 {
    float: left;
    width: 16.666667%;
  }
  .col_md_3 {
    float: left;
    width: 25%;
  }
  .col_md_4 {
    float: left;
    width: 33.333333%;
  }
  .col_md_5 {
    float: left;
    width: 41.666667%;
  }
  .col_md_6 {
    float: left;
    width: 50%;
  }
  .col_md_7 {
    float: left;
    width: 58.333333%;
  }
  .col_md_8 {
    float: left;
    width: 66.666667%;
  }
  .col_md_9 {
    float: left;
    width: 75%;
  }
  .col_md_10 {
    float: left;
    width: 83.333333%;
  }
  .col_md_11 {
    float: left;
    width: 91.666667%;
  }
  .col_md_12 {
    float: left;
    width: 100%;
  }
  .pull_md_0 {
    right: auto;
  }
  .pull_md_1 {
    right: 8.333333%;
  }
  .pull_md_2 {
    right: 16.666667%;
  }
  .pull_md_3 {
    right: 25%;
  }
  .pull_md_4 {
    right: 33.333333%;
  }
  .pull_md_5 {
    right: 41.666667%;
  }
  .pull_md_6 {
    right: 50%;
  }
  .pull_md_7 {
    right: 58.333333%;
  }
  .pull_md_8 {
    right: 66.666667%;
  }
  .pull_md_9 {
    right: 75%;
  }
  .pull_md_10 {
    right: 83.333333%;
  }
  .pull_md_11 {
    right: 91.666667%;
  }
  .pull_md_12 {
    right: 100%;
  }
  .push_md_0 {
    left: auto;
  }
  .push_md_1 {
    left: 8.333333%;
  }
  .push_md_2 {
    left: 16.666667%;
  }
  .push_md_3 {
    left: 25%;
  }
  .push_md_4 {
    left: 33.333333%;
  }
  .push_md_5 {
    left: 41.666667%;
  }
  .push_md_6 {
    left: 50%;
  }
  .push_md_7 {
    left: 58.333333%;
  }
  .push_md_8 {
    left: 66.666667%;
  }
  .push_md_9 {
    left: 75%;
  }
  .push_md_10 {
    left: 83.333333%;
  }
  .push_md_11 {
    left: 91.666667%;
  }
  .push_md_12 {
    left: 100%;
  }
  .offset_md_0 {
    margin-left: 0%;
  }
  .offset_md_1 {
    margin-left: 8.333333%;
  }
  .offset_md_2 {
    margin-left: 16.666667%;
  }
  .offset_md_3 {
    margin-left: 25%;
  }
  .offset_md_4 {
    margin-left: 33.333333%;
  }
  .offset_md_5 {
    margin-left: 41.666667%;
  }
  .offset_md_6 {
    margin-left: 50%;
  }
  .offset_md_7 {
    margin-left: 58.333333%;
  }
  .offset_md_8 {
    margin-left: 66.666667%;
  }
  .offset_md_9 {
    margin-left: 75%;
  }
  .offset_md_10 {
    margin-left: 83.333333%;
  }
  .offset_md_11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: $desktop) {
  .col_lg_1 {
    float: left;
    width: 8.333333%;
  }
  .col_lg_2 {
    float: left;
    width: 16.666667%;
  }
  .col_lg_3 {
    float: left;
    width: 25%;
  }
  .col_lg_4 {
    float: left;
    width: 33.333333%;
  }
  .col_lg_5 {
    float: left;
    width: 41.666667%;
  }
  .col_lg_6 {
    float: left;
    width: 50%;
  }
  .col_lg_7 {
    float: left;
    width: 58.333333%;
  }
  .col_lg_8 {
    float: left;
    width: 66.666667%;
  }
  .col_lg_9 {
    float: left;
    width: 75%;
  }
  .col_lg_10 {
    float: left;
    width: 83.333333%;
  }
  .col_lg_11 {
    float: left;
    width: 91.666667%;
  }
  .col_lg_12 {
    float: left;
    width: 100%;
  }
  .pull_lg_0 {
    right: auto;
  }
  .pull_lg_1 {
    right: 8.333333%;
  }
  .pull_lg_2 {
    right: 16.666667%;
  }
  .pull_lg_3 {
    right: 25%;
  }
  .pull_lg_4 {
    right: 33.333333%;
  }
  .pull_lg_5 {
    right: 41.666667%;
  }
  .pull_lg_6 {
    right: 50%;
  }
  .pull_lg_7 {
    right: 58.333333%;
  }
  .pull_lg_8 {
    right: 66.666667%;
  }
  .pull_lg_9 {
    right: 75%;
  }
  .pull_lg_10 {
    right: 83.333333%;
  }
  .pull_lg_11 {
    right: 91.666667%;
  }
  .pull_lg_12 {
    right: 100%;
  }
  .push_lg_0 {
    left: auto;
  }
  .push_lg_1 {
    left: 8.333333%;
  }
  .push_lg_2 {
    left: 16.666667%;
  }
  .push_lg_3 {
    left: 25%;
  }
  .push_lg_4 {
    left: 33.333333%;
  }
  .push_lg_5 {
    left: 41.666667%;
  }
  .push_lg_6 {
    left: 50%;
  }
  .push_lg_7 {
    left: 58.333333%;
  }
  .push_lg_8 {
    left: 66.666667%;
  }
  .push_lg_9 {
    left: 75%;
  }
  .push_lg_10 {
    left: 83.333333%;
  }
  .push_lg_11 {
    left: 91.666667%;
  }
  .push_lg_12 {
    left: 100%;
  }
  .offset_lg_0 {
    margin-left: 0%;
  }
  .offset_lg_1 {
    margin-left: 8.333333%;
  }
  .offset_lg_2 {
    margin-left: 16.666667%;
  }
  .offset_lg_3 {
    margin-left: 25%;
  }
  .offset_lg_4 {
    margin-left: 33.333333%;
  }
  .offset_lg_5 {
    margin-left: 41.666667%;
  }
  .offset_lg_6 {
    margin-left: 50%;
  }
  .offset_lg_7 {
    margin-left: 58.333333%;
  }
  .offset_lg_8 {
    margin-left: 66.666667%;
  }
  .offset_lg_9 {
    margin-left: 75%;
  }
  .offset_lg_10 {
    margin-left: 83.333333%;
  }
  .offset_lg_11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: $desktop_xl) {
  .col_xl_1 {
    float: left;
    width: 8.333333%;
  }
  .col_xl_2 {
    float: left;
    width: 16.666667%;
  }
  .col_xl_3 {
    float: left;
    width: 25%;
  }
  .col_xl_4 {
    float: left;
    width: 33.333333%;
  }
  .col_xl_5 {
    float: left;
    width: 41.666667%;
  }
  .col_xl_6 {
    float: left;
    width: 50%;
  }
  .col_xl_7 {
    float: left;
    width: 58.333333%;
  }
  .col_xl_8 {
    float: left;
    width: 66.666667%;
  }
  .col_xl_9 {
    float: left;
    width: 75%;
  }
  .col_xl_10 {
    float: left;
    width: 83.333333%;
  }
  .col_xl_11 {
    float: left;
    width: 91.666667%;
  }
  .col_xl_12 {
    float: left;
    width: 100%;
  }
  .pull_xl_0 {
    right: auto;
  }
  .pull_xl_1 {
    right: 8.333333%;
  }
  .pull_xl_2 {
    right: 16.666667%;
  }
  .pull_xl_3 {
    right: 25%;
  }
  .pull_xl_4 {
    right: 33.333333%;
  }
  .pull_xl_5 {
    right: 41.666667%;
  }
  .pull_xl_6 {
    right: 50%;
  }
  .pull_xl_7 {
    right: 58.333333%;
  }
  .pull_xl_8 {
    right: 66.666667%;
  }
  .pull_xl_9 {
    right: 75%;
  }
  .pull_xl_10 {
    right: 83.333333%;
  }
  .pull_xl_11 {
    right: 91.666667%;
  }
  .pull_xl_12 {
    right: 100%;
  }
  .push_xl_0 {
    left: auto;
  }
  .push_xl_1 {
    left: 8.333333%;
  }
  .push_xl_2 {
    left: 16.666667%;
  }
  .push_xl_3 {
    left: 25%;
  }
  .push_xl_4 {
    left: 33.333333%;
  }
  .push_xl_5 {
    left: 41.666667%;
  }
  .push_xl_6 {
    left: 50%;
  }
  .push_xl_7 {
    left: 58.333333%;
  }
  .push_xl_8 {
    left: 66.666667%;
  }
  .push_xl_9 {
    left: 75%;
  }
  .push_xl_10 {
    left: 83.333333%;
  }
  .push_xl_11 {
    left: 91.666667%;
  }
  .push_xl_12 {
    left: 100%;
  }
  .offset_xl_0 {
    margin-left: 0%;
  }
  .offset_xl_1 {
    margin-left: 8.333333%;
  }
  .offset_xl_2 {
    margin-left: 16.666667%;
  }
  .offset_xl_3 {
    margin-left: 25%;
  }
  .offset_xl_4 {
    margin-left: 33.333333%;
  }
  .offset_xl_5 {
    margin-left: 41.666667%;
  }
  .offset_xl_6 {
    margin-left: 50%;
  }
  .offset_xl_7 {
    margin-left: 58.333333%;
  }
  .offset_xl_8 {
    margin-left: 66.666667%;
  }
  .offset_xl_9 {
    margin-left: 75%;
  }
  .offset_xl_10 {
    margin-left: 83.333333%;
  }
  .offset_xl_11 {
    margin-left: 91.666667%;
  }
}