// ****************************************************************
// _Base list
// ****************************************************************


/**
 * Reset default styles
 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li ul,
  li ol {
    padding-left: 2rem;
  }
}




/**
 * In case you nedd default style for list
 */
ul.default {
  list-style-type: disc;
  margin-bottom: $base_font_size;
  padding-left: $base_font_size;
}

ol.default {
  list-style-type: decimal;
  margin-bottom: $base_font_size;
  padding-left: $base_font_size;
}

dl {
  margin-bottom: $base_font_size;

  dt {
    font-weight: bold;
    color: $header_font_color;
    // margin-top: $base_font_size;
  }

  dd {
    margin: 0 0 $base_font_size;
  }
}


/**
 * List inline
 */

.list__inline {
    display: block;
    padding: 0;
    li,
    .list__inline__item {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding: 0 ($base_font_size / 2);
        margin-left: -0.33333em;
    }

    // alignment
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }

    // responsive alignment
    &.center__md {
        @media (min-width : $tablet ) {
            text-align: center;
        }
    }
    &.center__lg {
        @media (min-width : $desktop ) {
            text-align: center;
        }
    }
    &.right__md {
        @media (min-width : $tablet ) {
            text-align: right;
        }
    }
    &.right__lg {
        @media (min-width : $desktop ) {
            text-align: right;
        }
    }
}
