// ****************************************************************
// _BaseTypographicStyles
// ****************************************************************

h1, h2, h3, h4, h5, h6, .title {
  font-family: $header_font_family;
  font-weight: $bold;
  line-height: $base_line_height * .8;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  color: $header_font_color;
  margin: 0;
}

h1 {
  font-size: $h1_size;
}

h2 {
  font-size: $h2_size;
}

h3 {
    font-size: $h3_size;
}

h4 {
    font-size: $h4_size;
}

h5 {
  font-size: $h5_size;
}

h6 {
  font-size: $h6_size;
}

p {
  margin: 0 0 $x_spacing;
  font-family: $base_font_family;
  color: $base_font_color;
}

a,
.link {
  color: $base_link_color;
  text-decoration: $text_decoration_base;

  @media (min-width : $desktop ) {
    &:hover {
      color: $hover_link_color;
      text-decoration: $text_decoration_hover;
    }
    &:active,
    &:focus {
      color: $hover_link_color;
      text-decoration: $text_decoration_hover;
      outline: none;
    }
  }
}

.hgroup * {
  margin: 0;
}

hr,
.hr {
  display: block;
  border-bottom: 1px solid $primary;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base_line_height 0;
}

img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

blockquote {
    display: block;
    padding: ($base_font_size / 2) 0 ($base_font_size / 2) ($base_font_size / 1.5);
    border-left: ($base_font_size / 2) solid $primary;
    border-color: rgba(0,0,0,.1);
    font-size: $base_font_size;
    margin-left: 0;
}

blockquote p {
    margin: 0;
    font-style: italic;
}

blockquote p:last-child,
p:last-child {
    margin-bottom: 0;
}

cite {
  color: lighten($base_font_color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

del {
    text-decoration: line-through;
}

ins {
    border-bottom: 1px dotted $primary;
}

mark {
    background: $primary;
    padding: 0 .2rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

/* Prevents sub and sup affecting line-height in all browsers | gist.github.com/413930 */

sub,
sup {
    position: relative;
    margin: 0 1px;
    font-size: 80%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

small {
    font-size: 80%;
    line-height: $base_line_height * .9;
}

abbr[title],
acronym[title] {
    border-bottom: 1px dashed #ccc;
    border-color: rgba(0,0,0,.2);
    cursor: help;
}

hr {
    clear: both;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #f0f0f0;
}

pre {
  background: $gray_light;
  border-left: .3rem solid $primary;
  font-family: $monospace;
}

code {
  border-radius: .4rem;
  font-size: 96%;
  padding: .2rem .5rem;
  margin: 0 .2rem;
  white-space: nowrap;
}

pre > code {
  background: transparent;
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

pre > p {
  padding: .3rem;
}


// _Utils
//---------------------------------- //
@each $theme, $color in $themes {
  .text__#{$theme} {
    color: $color !important;
  }
}

@each $theme, $color in $themes {
  .link__#{$theme} {
    color: $color;
    text-decoration: none;

    @media (min-width : $desktop ) {
      &:hover {
        color: darken($color, 20);
      }
      &:active,
      &:focus {
        color: darken($color, 20);
        outline: none;
      }
    }
  }
}

// ------- End of Utils -------- \
