// ****************************************************************
// _BaseTypographicStyles
// ****************************************************************

h1, h2, h3, h4, h5, h6 {
  font-family: $header_font_family;
  line-height: $base_line_height;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  color: $header_font_color;
  margin-bottom: 0;
}

h1 {
  font-size: $base_font_size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: $base_font_size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base_font_size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base_font_size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base_font_size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base_font_size;
}

p {
  margin: 0 0 $base_line_height*0.5rem;
  font-family: $base_font_family;
}

a {
  color: $base_link_color;
  transition: all .3s ease;
  text-decoration: none;

  @media (min-width : $desktop ) {
    &:hover {
      color: $hover_link_color;
    }
  }

  &:active, &:focus {
    color: $hover_link_color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $main_color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base_line_height 0;
}

img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

blockquote {
    display: block;
    padding: ($base_font_size / 2) 0 ($base_font_size / 2) ($base_font_size / 1.5);
    border-left: ($base_font_size / 2) solid $main_color;
    border-color: rgba(0,0,0,.1);
    font-size: $base_font_size;
    margin-left: 0;
}

blockquote p {
    margin: 0;
    font-style: italic;
}

blockquote p:last-child,
p:last-child {
    margin-bottom: 0;
}

cite {
  color: lighten($base_font_color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

del {
    text-decoration: line-through;
}

ins {
    border-bottom: 1px dotted $main_color;
}

mark {
    background: $main_color;
    padding: 0 .2rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

/* Prevents sub and sup affecting line-height in all browsers | gist.github.com/413930 */

sub,
sup {
    position: relative;
    margin: 0 1px;
    font-size: 80%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

small,
.small {
    font-size: 80%;
    line-height: $base_line_height * .9;
}

.lead {
  font-size: 120%;
}

abbr[title],
acronym[title] {
    border-bottom: 1px dashed #ccc;
    border-color: rgba(0,0,0,.2);
    cursor: help;
}

hr {
    clear: both;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #f0f0f0;
}

code {
    font-size: 70%;
    font-family: $monospace;
    color: $red;
    white-space: nowrap;
    padding: 0 4px;
    border: 1px solid $gray;
    border-radius: $base_border_radius;
    background: $grayLight;
}